/* MenuBar.css */

/* Define keyframes for the initial load animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to the menu bar */
.menu-bar {
  animation: fadeIn 0.5s ease-out;
}

/* Transition for text color change on hover */
.menu-bar a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-bar a:hover {
  color: yellow;
}

.menu-bar img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-bar img:hover {
  transform: scale(1.1); /* Scales the image to 110% of its original size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* Adds a shadow effect */
}
